################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arrays/.vs/CSharpBasics
/Arrays/.vscode
/Arrays/bin/Debug/netcoreapp3.1
/Arrays/obj
/CodeWars/.vs/CSharpBasics
/CodeWars/.vscode
/CodingGames/.vs/CodingGames
/DataStructures/.vs/CSharpBasics
/DataStructures/.vscode
/Fundamentals/.vs/CSharpBasics
/Fundamentals/.vscode
/Interviews/Interview - WayFair/.vs/CSharpBasics
/Interviews/Interview - WayFair/.vscode
/LINQ/.vs/CSharpBasics
/LINQ/.vscode
/LINQ/obj
/Strings/.vs/CSharpBasics
/Strings/.vscode
/LINQ/bin/Debug/netcoreapp3.1
/DataStructures/.vs
/DataStructures/bin/Debug/netcoreapp3.1
/DataStructures/obj/Debug/netcoreapp3.1
/DataStructures/obj/Release/netcoreapp3.1
/DataStructures/obj
