################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arrays/.vs/CSharpBasics
/Arrays/.vscode
/Arrays/bin/Debug/netcoreapp3.1
/Arrays/obj
/CodeWars/.vs/CSharpBasics
/CodeWars/.vscode
/CodingGames/.vs/CodingGames
/DataStructures/.vs/CSharpBasics
/DataStructures/.vscode
/Fundamentals/.vs/CSharpBasics
/Fundamentals/.vscode
/Interviews/Interview - WayFair/.vs/CSharpBasics
/Interviews/Interview - WayFair/.vscode
/LINQ/.vs/CSharpBasics
/LINQ/.vscode
/LINQ/obj
/Strings/.vs/CSharpBasics
/Strings/.vscode
/LINQ/bin/Debug/netcoreapp3.1
/DataStructures/.vs
/DataStructures/bin/Debug/netcoreapp3.1
/DataStructures/obj/Debug/netcoreapp3.1
/DataStructures/obj/Release/netcoreapp3.1
/DataStructures/obj
/CodingGames/CodingGames/obj
/CodingGames/obj
/CodingGames/bin/Debug/net5.0
/ASPNETCoreWebAPI/.vs/ASPNETCoreWebAPI
/ASPNETCoreWebAPI/bin/Debug/net5.0
/ASPNETCoreWebAPI/obj
/CodeWars/bin/Debug/netcoreapp3.1
/CodeWars/obj
/DelegatesDemo/.vs/DelegatesDemo/v16
/DelegatesDemo/bin/Debug/netcoreapp3.1
/DelegatesDemo/obj
/DelegatesDemo/.vs/DelegatesDemo/DesignTimeBuild
/UnitTestingDemo/.vs/UnitTestingDemo/v16
/UnitTestingDemo/BankTests/bin/Debug/netcoreapp3.1
/UnitTestingDemo/BankTests/obj
/UnitTestingDemo/UnitTestingDemo/bin/Debug/netcoreapp3.1
/UnitTestingDemo/UnitTestingDemo/obj
/AsyncAwaitDemo/.vs/AsyncAwaitDemo/v16
/AsyncAwaitDemo/obj
/UnitTestingDemo/.vs/UnitTestingDemo/DesignTimeBuild
/AsyncAwaitDemo/bin/Debug/netcoreapp3.1
/AsyncAwaitDemo/.vs/AsyncAwaitDemo/DesignTimeBuild
/.vs
/CodinGames/.vs/CodinGames
/CodinGames/bin/Debug/netcoreapp3.1
/CodinGames/obj
/Fundamentals/obj/Debug/netcoreapp3.1
/Fundamentals/obj/Release/netcoreapp3.1
/Interviews/Interview - WayFair/obj/Debug/netcoreapp3.1
/Interviews/Interview - WayFair/obj/Release/netcoreapp3.1
/Strings/obj/Debug/netcoreapp3.1
/Strings/obj/Release/netcoreapp3.1
/TestDomePractice/.vs/TestDomePractice/v16
/TestDomePractice/bin/Debug/netcoreapp3.1
/TestDomePractice/obj/Debug/netcoreapp3.1
/TestDomePractice/obj
/NUnitTestProject/bin/Debug/netcoreapp3.1
/NUnitTestProject/obj
/TestDomePractice/.vs/TestDomePractice/DesignTimeBuild
/CSharpBasics/.vs/CSharpBasics
/CSharpBasics/bin/Debug/netcoreapp3.1
/CSharpBasics/obj
/TuplesDemo/.vs/TuplesDemo/v16
/TuplesDemo/bin/Debug/netcoreapp3.1
/TuplesDemo/obj
/GenericsDemo/.vs/GenericsDemo
/GenericsDemo/obj
/MSTestProject/bin/Debug/netcoreapp3.1
/MSTestProject/obj
/NUnitTestProjectFizzBuzz/bin/Debug/netcoreapp3.1
/NUnitTestProjectFizzBuzz/obj
/UnitTestingFizzBuzz/.vs/UnitTestingFizzBuzz/v16
/UnitTestingFizzBuzz/bin/Debug/netcoreapp3.1
/UnitTestingFizzBuzz/obj
/XUnitTestProjectFizzBuzz/bin/Debug/netcoreapp3.1
/XUnitTestProjectFizzBuzz/obj
/TuplesDemo/.vs/TuplesDemo/DesignTimeBuild
/CSharpAlgorithms/.vs/CSharpAlgorithms/v16
/CSharpAlgorithms/bin/Debug/netcoreapp3.1
/CSharpAlgorithms/obj
/UnitTestingFizzBuzz/.vs/UnitTestingFizzBuzz/DesignTimeBuild
/CSharpAlgorithms/.vs/CSharpAlgorithms/DesignTimeBuild
/Fundamentals/bin/Debug/netcoreapp3.1
/Fundamentals/obj
/AmazonTest/.vs/AmazonTest/v16
/AmazonTest/bin/Debug/netcoreapp3.1
/AmazonTest/obj
/TestSwab/.vs/TestSwab
/TestSwab/bin/Debug/netcoreapp3.1
/TestSwab/obj
